
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json


.env
.env.*
secrets.auto.tfvars


__pycache__/
*.pyc


node_modules/


*.log


*.DS_Store
*.idea/
.vscode/
*.zip


app/secrets/
